html {
  font-family: Georgia, serif;
  color: #fff;
}

img {
  width: 100%;
}

.image {
  max-height: 500px;
}

.banner {
  background-color: #495562;
}

.btn {
  border-color: #97a49b;
  color: #efefef;
  text-align: left;
}

@media only screen and (min-width: 38em) {

  .btn {
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  img {
    z-index: 1;
  }

  .btn {
    border-color: #fff;
  }

  .banner {
    position: relative;
  }

  .banner-content {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to top, rgba(73, 85, 98, .9), rgba(73, 85, 98, .1));
  }

}
